.author {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    h1 {
        width: 100%;
    }

    .author-photo {
        width: 100%;
        margin: 40px 0 0 0;

        img {
            display: flex;
            margin: 0 auto;
            width: auto;
            height: 200px;
            border-radius: 50%;
        }
    }

    p {
        width: 100%;
        margin: 5px 0;
        text-align: justify;

        a {
            color: $color-cream;
        }
    }

    h2 {
        width: 100%;
    }
}