#searchform{
    width: 28%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    @media (max-width:770px) {
        width: 100%;
        padding-bottom: 20px;
    }

    input, button{
        background-color: $color-wheat;
        border: 3px solid $color-van-dyke;
        border-radius: 5px;
        line-height: 24px;
        font-size: 16px;
        font-weight: bold;
        color: $color-van-dyke;
        padding: 5px 10px;
        &::placeholder{
            color: $color-van-dyke;
        }
    }
    input{
        width: 75%;
    }
    button{
        margin-left: 5px;
        font-size: 30px;
        padding: 5px;
        width: 21%;
        text-align: center;
    }
}